



html{
   height: 100%; 
   align-items: center;
   justify-content: center;
   margin: 0;
}

body{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}
*{
    font-family: sans-serif;
}
#result{
    color: rgb(0, 0, 0);
    font-size: xx-large;
}
.indexdiv{
    display: flex;
    height: 70%;
    width: 40%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    border: hidden;
}
form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#moeda{
    height: 30px;
    width: 50%;
    margin-bottom: 10%;
    background-color: rgba(255, 255, 255, 0.781);
    border: none;
    border-bottom: rgb(98, 175, 5) solid;
    outline: none;
    margin-top: 5%;

}
.converter{
    height: 50px;
    width: 50%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0);
    cursor: pointer;
    outline: none;
    background-color: #01f784;
    border: none;
    border-radius: 11px;
    transition:  700ms;
    font-size: medium;
    margin-bottom: 5%;
}
.converter:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,1);
    
}
#app{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p{
    font-size: 100%;
}
h1{
    font-size: 100%;
}

